.component_list {
    width: 100%;
    height: auto;
    display: flex;
    padding: 0.15rem .2rem;
    box-sizing: border-box;
    align-items: center;
    font-size: .25rem;
    color: #000;
    background: #fff;
    
    div:first-child{
        flex: 1;
        span:not(:first-child){
            margin-left: .1rem;
        }
    }
    div:last-child {
        width: auto;
        color: #ccc;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
            width: .7rem;
            height: .7rem;
            border-radius: 50%;
        }
    }
}