.home-search {
    width: 100%;
    height: 100%;
    font-size: 0.24rem;
    display: flex;
    flex-direction: column;
    .header-top{
        width: 100%;
        height: 0.8rem;
        font-size: 0.3rem;
        background: #3190e8;
        color: white;
        display: flex;
        align-items: center;
        padding-right: 1rem;
        box-sizing: border-box;
        p:first-child {
            width: 0.8rem;
            text-align: center;
        }
        p:nth-child(2) {flex: 1;text-align: center;}
    }
    >section {
        flex: 1;
        background: #eee;
        overflow: auto;
        .section-input{
            width: 100%;
            display: flex;
            padding: 0.2rem;
            box-sizing: border-box;
            background: white;
            input {flex: 1; }
            button { margin-left: 0.2rem;}
        }
        .search{
            width: 100%;
            height: auto;
            background: white;
        }
        .home-search-good{
            width: 100%;
            display: flex;
            flex-direction: column;
            >p{
                padding: 0.2rem;
                box-sizing: border-box;
                font-weight: bolder;
            }
            dl{
                width: 100%;
                display: flex;
                background: white;
                padding: 0.2rem;
                box-sizing: border-box;
                dt{
                    width: 15%;
                    display: flex;
                    align-items: flex-start;
                    padding: 0.1rem  0.1rem 0.1rem 0;
                    box-sizing: border-box;
                    img{
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
                dd{
                    width: 100%;
                    border-bottom: 1px solid #ccc;
                    padding: 0.1rem 0;
                    box-sizing: border-box;
                    font-size: 0.23rem;
                }
            }
        }
        .history{
            width: 100%;
            p{
                font-size: 0.25rem;
                font-weight: bold;
                padding: 0.1rem 0.2rem;
                box-sizing: border-box;
            }
            p{
                padding: 0.2rem;
                box-sizing: border-box;
                border-bottom: 1px solid #ccc;
                background: white;
            }
            .clear{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding:  0.2rem  0;
                box-sizing: border-box;
                background: white;
                color: rgb(0, 140, 255);
                font-size: 0.3rem;
                font-weight: bolder;
            }
        }
    }
}