.good-view {
    width: 100%;
    padding: 0.2rem 0.1rem;
    box-sizing: border-box;
    display: flex;
    .good-pic {
        width: 1.2rem;
        height: 1.2rem;
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .good-group {
        padding: 0 0 0 0.1rem;
        box-sizing: border-box;
        flex: 1;
        display: flex;
        flex-direction: column;
        .good-info {
            margin-top: 0.2rem;
            &:first-child{
                margin-top: 0;
                display: flex;
                align-items: center;
                .good-title {
                    flex: 1;
                    display: flex;
                    .good-effect {
                        width: 0.7rem;
                        text-align: center;
                        background: #ffd930;
                        padding: 0 0.1rem;
                        margin: 0 0.1rem;
                        box-sizing: border-box;
                        color: black;
                        font-weight: 700;
                    }
                    .good-name {
                        width: 2rem;
                        font-weight: 900;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                .good-support {
                    width: 2rem;
                    font-size: 0.1rem;
                    display: flex;
                    justify-content: flex-end;
                    span {
                        margin-left: 0.04rem;
                    }
                }
            }
            &:nth-child(2) {
                display: flex;
                align-items: center;
                .good-sales-lt {
                    display: flex;
                    align-items: center;
                    .star-size {
                        margin-left: -0.6rem;
                        transform: scale(0.5);
                        width: 2.9rem;
                        height: 0.6rem;
                    }
                    .star-info {
                        transform: scale(0.8);
                        margin-left: -1rem;
                        width: 2rem;
                        span {
                            color: red;
                            margin-right: 0.04rem;
                        }
                        font-size: 0.14rem;
                    }
                }
                .good-sales-rt {
                    margin-right: -0.2rem;
                    transform: scale(0.75);
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    span {
                        border-radius: 0.06rem;
                        &:nth-child(1) {
                            border: 1px solid #3190E8;
                            background: #3190E8;
                            color: white;
                            margin-right: 0.04rem;
                        }
                        &:nth-child(2) {
                            border: 1px solid #3190E8;
                            color: #3190e8;
                        }
                        font-size: 0.08rem;
                    }
                }
                
            }
            &:nth-child(3) {
                display: flex;
                align-items: center;
                div {
                    transform: scale(0.8);
                    font-size: 0.1rem;
                    flex: 1;
                    &:nth-child(2) {
                        flex: 1.2;
                        color: #ccc;
                        span {
                            color: #3190e8;
                        }
                    }
                }
            }
            width: 100%;
            height: 0.3rem;
        }
    }
}